CODEXNEXT_OWNER_TOKEN=replace-with-long-random-token
CODEXNEXT_CONTROL_HOST=0.0.0.0
CODEXNEXT_CONTROL_PORT=3922
CODEXNEXT_PRODUCTION=1
CODEXNEXT_ALLOWED_ORIGINS=http://144.217.243.161:3002
CODEXNEXT_ALLOW_MACHINE_OWNER_TOKEN=0
CODEXNEXT_DISABLE_RELAY_FULL_ACCESS=0
